[defaults]
deprecation_warnings=False
host_key_checking = False
forks = 30
remote_tmp = /tmp/ansible-$USER
ansible_managed = Ansible managed: {file} modified by {uid} on {host}
ansible_user  = ubuntu

# Custom plugins
filter_plugins = filter_plugins
library = library

[inventory]
inventory  = inventory

[ssh_connection]
scp_if_ssh = True
